:root {
  --text-color: #2e2e48;
  --muted-text: #79819a;
  --secondary-color: #47516b;
  --white-color: #ffffff;

  --primary-color: #f7f9fc;
  --card-background: #f7f9fc;

  --highlight-background: #efe2f9;
  --highlight-text: #9251f7;
  --background-dark: #5531a7;

  --divider-color: #e2e6ee;
  --accent-color: #5d5fef;
  --action-color: #516cf7;

  --font-main: 'DMSans', sans-serif;
  --font-heading: 'OutFit', sans-serif;
}
